@import url('https://fonts.googleapis.com/css?family=Roboto'); /* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono'); /* font-family: 'Overpass Mono', monospace; */


* {
  padding:0;
  margin:0;
  font-family: 'Overpass Mono', monospace;
}

body{
  background-color: black;
}

h1{
  color:white;
  text-align: center;
  width:50%;
  font-size: 3em;
}

h2{
  color:white;
  margin:0 auto;
  text-align: center;
  width:75%;
  padding:80px;
  padding-top:100px;
  padding-bottom: 100px;
}

#imgwrap {
  margin:0 auto;
  height:200px;
  width:200px;
  background-image: url("../img/ging.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  background-color: gray; /* was white to add icon circle */
  border-radius: 50%;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

iframe{
  display:block;
}

#social{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

a{
  font-size:80px;
  color:white;
  padding:10px;
}

@media (max-width: 425px) {
  header {
    flex-direction: column;
    padding-bottom: 5px;
  }

  h1{
    padding-bottom: 30px;
  }

  h2{
    margin:0 auto;
    padding:0;
    padding-top:50px;
    padding-bottom:50px;
  }

  a{
    font-size:30px;
  }
}
