@import url('https://fonts.googleapis.com/css?family=Roboto'); /* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono'); /* font-family: 'Overpass Mono', monospace; */


* {
  padding:0;
  margin:0;
  font-family: 'Overpass Mono', monospace;
}

a{
  text-decoration: none;
}

body{
  background-color: black;
}

#menu{
  display:none;
}

ul{
  padding-left: 20%;
  display:flex;
  flex-direction: row;
  list-style: none;
}

li{
  color:white;
  padding:10px;
  text-transform: capitalize;
  font-size: 1em
}

h1{
  color:white;
  text-align: center;
  width:50%;
  font-size: 3em;
  padding-left:5%;
}

h2{
  color:white;
  margin:0 auto;
  text-align: center;
  width:75%;
  padding:80px;
  padding-top:100px;
  padding-bottom: 100px;
}

#imgwrap {
  margin:0 auto;
  height:200px;
  width:200px;
  background-image: url("../img/ging.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  background-color: gray; /* was white to add icon circle */
  border-radius: 50%;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

iframe{
  display:block;
}

#social{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

#social a{
  font-size:40px;
  color:white;
  padding:10px;
  }

@media (max-width: 750px) {

  h1{
    padding-left: 0;
  }

  #menu{
    padding:0;
    display:flex;
    text-decoration: none;
    color:white;
    margin-top:2px;
    margin-left: 10%;
  }

  #menu i {
    padding-left: 9px;
    padding-right: 5px;
    font-size:1.5em;
  }

  nav{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
  }

  nav ul{
    position:relative;
    top:15px;
    padding-left: 5%;
    padding-bottom:0;
    display:none;
  }

  header {
    flex-direction: column;
    padding-bottom: 5px;
  }

  h1{
    display:flex;
    justify-content: center;
    padding-bottom: 30px;
    font-size:2.5em;
  }

  #imgwrap{
    display:flex;
    justify-content: center;
    margin:0;
  }

  h2{
    margin:0 auto;
    padding:0;
    padding-top:50px;
    padding-bottom:50px;
    font-size:1.5em;
  }

  a{
    font-size:30px;
  }
}

@media (max-width: 350px) {
  #menu i {
    font-size:1em;
  }

  nav ul li {
    padding:0;
    padding-left:5%;
    font-size:0.5em;
  }

  nav ul {
    margin-top:0;
    top:0.5;
  }

  h1{
    font-size:1.5em;
  }

  h2{
    font-size:0.9em;
  }
}
